body{
	background-color: #ffeecc;
}
.calc{
	margin-top: 50px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 5px solid #ffc34d;
	padding: 20px 40px;
}
#final_price{
	font-size: 40px;
	font-weight: 900;
}
.card_images{
	padding-top: 54px;
}
.card_images img{
	display: none;
}
#card_1_0{
	display: inline-block;
}